.containerInfoUser {
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    padding: 1%;
    display: flex;
}

.stepCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}